@import "tailwindcss";
@import "bootstrap/dist/css/bootstrap.min.css";


@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(37% 0.013 285.805);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}
